<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /UASWEB/

    # Mencegah akses langsung ke folder system dan application
    RewriteCond %{REQUEST_URI} ^system.* [OR]
    RewriteCond %{REQUEST_URI} ^application.* [OR]
    RewriteCond %{REQUEST_FILENAME} = [OR]
    RewriteCond %{REQUEST_FILENAME} -f [OR]
    RewriteCond %{REQUEST_FILENAME} -d

    # Arahkan semua request lain ke index.php
    RewriteRule ^(.*)$ index.php/$1 [PT,L]
</IfModule>