/* ============================================
   ARCHIVE 
   ============================================ */

.archive-header {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    margin-bottom: 30px; 
    padding-bottom: 2rem;
    padding-top: 2rem; 
}


.archive-title {
    font-size: 2.5rem; 
    line-height: 1.3;
    color: var(--text-dark); 
    margin: 0;
    line-height: 1.2;
}


.archive-subtitle {
    margin: 0; 
    color: var(--text-gray);
    font-size: 1rem;
    text-align: right; 
}
/* Layout Grid untuk Berita */
.news-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 30px;
    margin-bottom: 50px;
}

/* Jika Data Kosong */
.empty-state {
    grid-column: 1 / -1; 
    text-align: center;
    padding: 60px 20px;
    background: var(--white);
    border-radius: var(--radius-lg);
    border: 1px dashed var(--border-color);
}

/* Navigasi Tombol Kembali*/
.page-footer-nav {
    margin-top: 50px;
    text-align: center;
    padding-top: 20px;
    border-top: 1px solid transparent;
}

@media (max-width: 768px) {
    .archive-header {
        flex-direction: column; 
        align-items: flex-start;
        gap: 10px;
    }
    
    
    .news-grid {
        grid-template-columns: 1fr; /* 1 Kolom di HP */
        gap: 20px;
    }
}